sup {
	vertical-align: super;
	font-size: smaller;
}

#welcome { 
	color: lightgreen;
	font-family:monospace;
	font-size: 30px;
}

body {
	background-color:#4a4a4a;
	padding:1em;
	padding-bottom:25%;
	border:1em double grey;
	border-radius: 15px;	
}

#game {
	border-width: 15px;
	border-style: solid;
	border-color: darkgrey;
	border-radius: 15px; 
	margin: 10px;
}

#credit {
	color: lightgreen;
	font-family:monospace;
	font-size: 15px;
}  

.button{
	background-color: black;
	border: none;
	font-family:monospace;
	color: lightgreen;
	padding: 8px 8px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.button:hover {
	background-color: grey;
                     padding: 11px 11px;
}

#link {
	color:lightgreen;
	border: 3px double lightgreen;
	border-radius: 15px;
	padding:5px;
	margin:4px;
	margin-top:4px;
}

#buttonContainer {
	margin: 20px;
}

iframe {
	align-self: center;
	margin: 1em;
}